* {
    box-sizing:border-box;
    font-size: 24px;
    font-size:2vw;
    font-weight: 300;
    margin:0;
    padding:0;
}
html {
    height:100%;
    background-color: #ddd;
}
#calculator {
    width: 29%;
    margin: 5% auto;
    height:auto;
    background:linear-gradient(rgb(117, 117, 117), rgb(0, 0, 0));
}
.top .clear {
    padding-left: 2%;
    margin: 2% 1.5%;
    width: 96%;
    color:#FFF;
}
#result {
    font-size: 1.5em; 
    color: white;
    text-align: center;
}
#input {
    text-align: right;
    margin: 0 auto;
    height: 10%; 
    padding-top: 2%; 
    padding-right: 1%;
    color: aquamarine;
    width: 95%;
}
.keys,.top {
    overflow:scroll;
}

.keys input:hover, .top input:hover {
    background:rgba(255,255,255,0.3);
    color:#FFF;
}

.keys input, .top input {
    float:left;
    margin: 2%;
    cursor:pointer;
    width:3em;
    height:3em;
    line-height: 3em;
    background-color: rgba(0, 0, 0, 0);
    color:#fff;
    text-align:center;
    user-select:none;
    transition: background-color .5s ease;
    border-right: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
